[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = '==0.23.1'
inflect = "*"
numpy = "*"
scipy = "*"
wikipedia = "*"
stemming = "*"
num2words = "*"
joblib = "*"
quantulum3 = {editable = true,path = "."}

[dev-packages]
coverage = "*"
pymagnitude = "*"
black = "*"

[requires]
python_version = "3.8"
